@model WebApplicationAnnuaire.Models.Employe

@{
    ViewData["Title"] = "Supprimer";
}

<div class="container">
    <h1 class="mb-4">Supprimer</h1>
    <h3 class="mb-4">Êtes-vous sûr(e) de vouloir supprimer ceci ?</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    Employe
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Nom :</strong> @Html.DisplayFor(model => model.Nom)
                    </li>
                    <li class="list-group-item">
                        <strong>Prenom :</strong> @Html.DisplayFor(model => model.Prenom)
                    </li>
                    <li class="list-group-item">
                        <strong>Telephone Fixe :</strong> @Html.DisplayFor(model => model.TelephoneFixe)
                    </li>
                    <li class="list-group-item">
                        <strong>Telephone Portable :</strong> @Html.DisplayFor(model => model.TelephonePortable)
                    </li>
                    <li class="list-group-item">
                        <strong>Email :</strong> @Html.DisplayFor(model => model.Email)
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    Site
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Ville :</strong> @Html.DisplayFor(model => model.Site.Ville)
                    </li>
                </ul>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    Service
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Nom :</strong> @Html.DisplayFor(model => model.Service.Nom)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger mr-2">Supprimer</button>
                <a class="btn btn-secondary" asp-action="Index">Retour à la liste</a>
            </form>
        </div>
    </div>
</div>
