@model WebApplicationAnnuaire.Models.Employe
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Détails";
}

<div class="container">
    <h1 class="mb-4">Détails</h1>
    <h4>Employé</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    Employe
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Nom :</strong> @Html.DisplayFor(model => model.Nom)
                    </li>
                    <li class="list-group-item">
                        <strong>Prenom :</strong> @Html.DisplayFor(model => model.Prenom)
                    </li>
                    <li class="list-group-item">
                        <strong>Telephone Fixe :</strong> @Html.DisplayFor(model => model.TelephoneFixe)
                    </li>
                    <li class="list-group-item">
                        <strong>Telephone Portable :</strong> @Html.DisplayFor(model => model.TelephonePortable)
                    </li>
                    <li class="list-group-item">
                        <strong>Email :</strong> @Html.DisplayFor(model => model.Email)
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    Site
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Ville :</strong> @Html.DisplayFor(model => model.Site.Ville)
                    </li>
                </ul>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    Service
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Nom :</strong> @Html.DisplayFor(model => model.Service.Nom)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
             @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administration"))
             {
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Modifier</a>
             }
            <a class="btn btn-danger" asp-action="Index">Retour</a>
        </div>
    </div>
</div>
