@model IEnumerable<WebApplicationAnnuaire.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-10">
        <h1>Services</h1>
    </div>
    <div class="col-md-2 text-right">
        @*@if (SignInManager.IsSignedIn(User) && User.IsInRole("Administration"))
        {*@
            <a class="btn btn-success" asp-action="Create">Créer un service</a>
        @*}*@
    </div>
</div>

<div class="card">
    <div class="card-header">
        Liste des services
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div>@item.Nom</div>

                    <div class="btn-group" role="group">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Modifier</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                    </div>
                    
                </div>
            </li>
        }
    </ul>
</div>
@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
             @*   <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
